# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.mk
*.list
*.cyclo
*.d
*.su

# Misc
*.map
*.m
*.png

# Eclipse CDT project files
.settings/

# Vagrant directory
.vagrant/

# Include makefiles
makefile
*~

# Libraries
/lib